<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Run, Bike, Hike...</title>
  <link rel="shortcut icon" sizes="128x128" href="img/icon128.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Localization -->
  <link rel="prefetch" type="application/l10n" href="locales/locales.ini" />

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/leaflet.css">
  <link rel="stylesheet" href="css/dc.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/spinner.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="css/new.css">
  <link rel="stylesheet" href="css/tracking.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/session.css">
  <link rel="stylesheet" href="css/preferences.css">
  <link rel="stylesheet" href="css/reports.css">
  <link rel="stylesheet" href="css/sessions.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body id="app">
  <div class="modal hidden" id="modal" disabled="true"></div>
  <nav>
    <img src="img/logo_white_128.png" alt="Run, Bike, Hike... logo" class="align-left">
    <!-- <h2 id="new&#45;session&#45;btn" class=" new&#45;line align&#45;left">
      <span class="fa fa-plus-square"></span>
    </h2>
    <h2 id="tracking-btn" class="align-left">
      <span class="fa fa-location-arrow"></span>
    </h2> -->

    <ul class="new-line">
      <li id="new-session-btn">
        <div><span class="fa fa-plus-square fa-2x"></span><span data-l10n-id="new-session"></span></div>
      </li>
      <li id="new-body-weight-btn">
        <div><span class="fa fa-plus-square fa-2x"></span><span data-l10n-id="new-body">New body mesure</span></div>
      </li>
      <li id="dashboard-btn" class="active">
        <div><span class="fa fa-home fa-2x"></span><span data-l10n-id="dashboard"></span></div>
      </li>
      <li id="sessions-btn">
        <div><span class="fa fa-list-ul fa-2x"></span><span data-l10n-id="sessions"></span></div>
      </li>
      <li id="reports-btn">
        <div><span class="fa fa-bar-chart fa-2x"></span><span data-l10n-id="reports"></span></div>
      </li>
      <li id="preferences-btn">
        <div><span class="fa fa-cog fa-2x"></span><span data-l10n-id="preferences"></span></div>
      </li>
    </ul>
  </nav>
  <section id="new-session-view" disabled="true" class="new-session-view">
    <div>
      <h1 data-l10n-id="add-new-session"></h1>
      <button data-l10n-id="add" id="confirm-add-session-btn" class="positive" disabled="disabled"></button>
      <h2 data-l10n-id="select-activity"></h2>
      <form id="select-activity"></form>
    </div>
  </section>
  <section id="new-body-weight-view" disabled="true" class="new-body-view">
    <!-- <div>
      <h1 data-l10n-id="add-new-body"></h1>
      <button data-l10n-id="add" id="confirm-add-body-weight-btn" class="positive"></button>
      <h2 data-l10n-id="select-body"></h2>
      <form id="select-body"></form>
    </div> -->
  </section>
  <section id="dashboard-view" disabled="false" class="dashboard-view">
    <h1 data-l10n-id="dashboard"></h1>
    <div id="indicators"></div>
    <ul class="selector new-line align-right">
      <li class="align-left">
        <span data-l10n-id="sort-by"></span>
      </li>
      <li class="align-left">
        <select id="dashboard-sort-attribute">
          <option data-l10n-id="date" value="date"></option>
          <option data-l10n-id="activity" value="activity"></option>
        </select>
      </li>
      <li class="align-left">
        <select id="dashboard-sort-ascending">
          <option data-l10n-id="ascending" value="true"></option>
          <option data-l10n-id="descending" value="false"></option>
        </select>
      </li>
    </ul>
    <ul class="new-line dashboard" id="dashboard"></ul>
  </section>

  <section id="sessions-view" disabled="true" class="sessions-view">
    <h1 data-l10n-id="sessions"></h1>
    <ul class="selector new-line align-left">
      <li class="align-left">
        <span data-l10n-id="sort-by"></span>
      </li>
      <li class="align-left">
        <select id="sessions-sort-attribute">
          <option data-l10n-id="date" value="date"></option>
          <option data-l10n-id="activity" value="activity"></option>
        </select>
      </li>
      <li class="align-left">
        <select id="sessions-sort-ascending">
          <option data-l10n-id="ascending" value="true"></option>
          <option data-l10n-id="descending" value="false"></option>
        </select>
      </li>
    </ul>

    <ul id="sessions-list" class="sessions-list new-line">
    </ul>
  </section>

  <section id="session-view" disabled="true" class="session-view">
    <h1 data-l10n-id="session"></h1>
    <i class="fa fa-2x fa-trash" aria-hidden="true" id="session-1-delete"></i>

    <div class="session-totals-container">
      <div data-l10n-id="date" class="width-half text-1-4 align-left">Date
        <span id="details-session-date" class="align-right"></span>
      </div>

      <div data-l10n-id="start-time" class="width-half text-1-4 align-left">Start time
        <span id="details-session-start-time" class="align-right"></span>
      </div>

      <div data-l10n-id="duration" class="width-half text-1-4 align-left">Duration
        <span id="details-session-duration" class="align-right"></span>
      </div>

      <div data-l10n-id="calories" class="width-half text-1-4 align-left">Calories
        <span id="details-session-calories" class="align-right"></span>
      </div>

      <div id="details-session-distance"></div>
      <div id="details-session-altitude"></div>

      <div class="accordeon">
        <section id="details-session-map"></section>
        <section id="details-session-altitude-grah"></section>
        <section id="details-session-speed-grah"></section>
      </div>
    </div>


  </section>

  <section id="reports-view" disabled="true" class="reports-view">
    <h1 data-l10n-id="reports"></h1>

    <select id="reports-select-date">
      <option data-l10n-id="current-year" value="current-year" selected></option>
      <option data-l10n-id="last-12-months" value="last-12-months"></option>
      <option data-l10n-id="last-6-months" value="last-6-months"></option>
      <option data-l10n-id="last-3-months" value="last-3-months"></option>
      <option data-l10n-id="current-month" value="current-month"></option>
      <option data-l10n-id="current-week" value="current-week"></option>
    </select>
    <div id="reports-weight-graph" class="graph"></div>
    <div id="reports-calories-graph" class="graph new-line"></div>
    <!-- <div id="reports-distance-graph" class="graph new-line"></div>
    <div id="reports-duration-graph" class="graph new-line"></div> -->
  </section>

  <section id="preferences-view" disabled="true" class="preferences-view">
    <h1 data-l10n-id="preferences"></h1>
    <ul>
      <li><span>Langue</span>
        <select id="language" class="align-right">
          <option data-l10n-id="english" value="en"></option>
          <option data-l10n-id="francais" value="fr"></option>
        </select>
      </li>
      <li><span data-l10n-id="units"></span>
        <select name="unité de mesure" id="unit" class="align-right">
          <option data-l10n-id="metric" value="metric" selected></option>
          <option data-l10n-id="imperial" value="imperial"></option>
        </select>
      </li>
      <li><span data-l10n-id="gender"></span>
        <select name="sexe" id="gender" class="align-right">
          <option data-l10n-id="woman" value="female"></option>
          <option data-l10n-id="man" value="male"></option>
        </select>
      </li>
      <li><span data-l10n-id="height"></span>
        <span data-l10n-id="height-unit" class="unit align-right"></span>
        <input id="height" type="text" class="weight align-right" />
      </li>
      <li><span data-l10n-id="weight"></span>
        <span data-l10n-id="weight-unit" class="unit align-right"></span>
        <input id="weight" type="text" class="height align-right" />
      </li>
      <li><span data-l10n-id="birthyear"></span>
        <input type="date" name="naissance" id="birthyear" class="birthyear align-right">
      </li>
    </ul>
    <button data-l10n-id="save" id="save-preferences-btn" class="positive"></button>
  </section>

  <script type="text/template" id="new-session-activity">
  <label for="<%= activity %>">
    <input type="radio" name="select-activity" value="<%= activity %>" id="<%= activity %>" />
    <img src="<%= icon_path %>" alt="<%= activity %>" />
  </label>
</script>

<!--
  New Session - Import Form template
-->

<script type="text/template" id="new-session-import-form-template">
  <h2><%= lb_import_file %></h2>
  <div class="input form">
    <input id="import-file" type="file"></input>
    <button id="import-btn" disabled="disabled" class="small"><%= lb_import %></button>
  </div>
</script>

<!--
  New Session - Altitude template
-->

<script type="text/template" id="new-session-altitude-template">
  <div class="width-half text-small align-left"><%= lb_alt_max %> (<%= alt_unit %>)
    <input id="new-session-alt-max" class="width-half align-right text-small text-right" type="number" disabled value="<%= alt_max %>" />
  </div>
  <div class="width-half text-small align-left"><%= lb_alt_min %> (<%= alt_unit %>)
    <input id="new-session-alt-min" class="width-half align-right text-small text-right" type="number" disabled value="<%= alt_min %>" />
  </div>
</script>

<!--
  New Session - Distance template
-->

<script type="text/template" id="new-session-distance-template">
  <div class="width-half text-small align-left"><%= lb_distance %> (<%= distance_unit %>)
    <input id="new-session-distance" class="width-half align-right text-small text-right" type="number" step="0.01" value="<%= distance %>" />
  </div>
  <div class="width-half text-small align-left"><%= lb_avg_speed %> (<%= speed_unit %>)
    <input id="new-session-avg-speed" class="width-half align-right text-small text-right" type="number" disabled value="<%= avg_speed %>" />
  </div>
</script>

<!--
  New Session - Basics template
-->

  <script type="text/template" id="new-session-template-basics">
    <div id="new-session-import-form">
    </div>
    <h2 data-l10n-id="session-values"></h2>
    <div class="form" id="new-session-basics-template">
      <div class="width-half text-small align-left"><%= lb_date %>
        <input id="new-session-date" class="width-half align-right text-small text-right" type="date" value="<%= date %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_time %>
        <input id="new-session-time" class="width-half align-right text-small text-right" type="time" value="<%= time %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_duration %>
        <span class="align-right">
          <input id="new-session-duration-hour" class="duration text-small text-right" type="number" value="<%= durationH %>" />
          <span>:</span>
          <input id="new-session-duration-min" class="duration text-small text-right" type="number" value="<%= durationM %>" />
          <span>:</span>
          <input id="new-session-duration-sec" class="duration text-small text-right" type="number" value="<%= durationS %>" />
        </span>
      </div>
      <div class="width-half text-small align-left"><%= lb_calories %>
        <input id="new-session-calories" class="width-half align-right text-small text-right" type="number" disabled value="<%= calories %>" />
      </div>
      <div id="new-session-subview-anchor" class="margin-0"></div>
    </div>
  </script>

  <script type="text/template" id="new-session-template-2">
    <h1 data-l10n-id="add-new-body"></h1>
    <button data-l10n-id="add" id="confirm-add-body-weight-btn" class="positive">Add</button>
    <form id="body-form" class="body-form">
      <div class="width-half text-small align-left"><%= lb_date %>
        <input id="new-body-date" class="align-right" type="date" value="<%= date %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_weight %>
        <input id="new-body-value" class="align-right" type="number" value="<%= value %>" />
      </div>
    </form>
  </script>

  <script type="text/template" id="new-session-template-3">
    <div class="form">
      <div class="width-half text-small align-left"><%= lb_date %>
        <input id="new-session-date" class="align-right" type="date" value="<%= date %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_time %>
        <input id="new-session-time" class="align-right" type="time" value="<%= time %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_distance %>
      <div data-l10n-id="distance-unit" class="width-half text-small align-left">
        <input id="new-session-distance" class="align-right" type="number" step="0.01" value="<%= distance %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_duration %>
        <div class="align-right">
          <input id="new-session-duration-hour" class="duration" type="number" value="<%= durationH %>" />
          <span>:</span>
          <input id="new-session-duration-min" class="duration" type="number" value="<%= durationM %>" />
          <span>:</span>
          <input id="new-session-duration-sec" class="duration" type="number" value="<%= durationS %>" />
        </div>
      </div>
      <div class="width-half text-small align-left"><%= lb_avg_speed %>
        <input id="new-session-avg-speed" class="align-right" type="number" disabled value="<%= avg_speed %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_calories %>
        <input id="new-session-calories" class="align-right" type="number" disabled value="<%= calories %>" />
      </div>
    </div>
  </script>

  <script type="text/template" id="new-session-template-4">
    <div class="form">
      <div class="width-half text-small align-left"><%= lb_date %>
        <input id="new-session-date" class="align-right" type="date" value="<%= date %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_time %>
        <input id="new-session-time" class="align-right" type="time" value="<%= time %>" />
      </div>
      <div class="width-half text-small align-left"><%= lb_duration %>
        <div class="align-right">
          <input id="new-session-duration-hour" class="duration" type="number" value="<%= durationH %>" />
          <span>:</span>
          <input id="new-session-duration-min" class="duration" type="number" value="<%= durationM %>" />
          <span>:</span>
          <input id="new-session-duration-sec" class="duration" type="number" value="<%= durationS %>" />
        </div>
      </div>
      <div class="width-half text-small align-left"><%= lb_calories %>
        <input id="new-session-calories" class="align-right" type="number" disabled value="<%= calories %>" />
      </div>
    </div>
  </script>

<!--
  Dashboard - Session Basics template
-->

  <script type="text/template" id="dashboard-session-template">
    <a href="#" class="session-summary-click" session_id="<%= session_cid %>">
      <div class="summary-container" session_id="<%= session_cid %>">
        <img src="<%= icon_path %>" alt="<%= activity %>" class="activity" session_id="<%= session_cid %>">
        <div class="duration information" session_id="<%= session_cid %>">
          <span class="fa fa-clock-o fa-2x" session_id="<%= session_cid %>"></span>
          <span class="text-big" session_id="<%= session_cid %>"><%= duration %></span>
        </div>
        <span class="distance information" id="dashboard-session-distance"></div>
        <div class="time information text-small" session_id="<%= session_cid %>"><%= date %></div>
      </div>
    </a>
  </script>

  <!--
    Dashboard - Session Distance template
  -->

  <script type="text/>template" id="dashboard-session-distance-template">
    <div class="distance information" session_id="<%= session_cid %>">
      <span class="fa fa-road fa-2x" session_id="<%= session_cid %>"></span>
      <span class="text-big" session_id="<%= session_cid %>"><%= distance %></span>
    </div>
    <div class="speed information" session_id="<%= session_cid %>">
      <span class="fa fa-tachometer fa-2x" session_id="<%= session_cid %>"></span>
      <span class="text-big" session_id="<%= session_cid %>"><%= avg_speed %></span>
    </div>
  </script>

  <script type="text/template" id="dashboard-weight-template">
    <a href="#" class="session-summary-click" session_id="<%= session_cid %>">
      <div class="summary-container" session_id="<%= session_cid %>">
        <img src="<%= icon_path %>" alt="<%= activity %>" class="activity" session_id="<%= session_cid %>">
        <div class="body measure information text-big" session_id="<%= session_cid %>"><%= value %></div>
        <div class="time information text-small" session_id="<%= session_cid %>"><%= date %></div>
      </div>
    </a>
  </script>

  <script type="text/template" id="dashboard-message-template">
    <a ref="#" class="session-summary-click" session_id="<%= session_cid %>">
      <div class="summary-container" session_id="<%= session_cid %>">
        <img claa="inline-block" src="img/logo_black_64.png" session_id="<%= session_cid %>">
        <p class="inline-block" session_id="<%= session_cid %>"><%= text %></p>
        <div class="time information text-small inline-block" session_id="<%= session_cid %>"><%= date %></div>
      </div>
    </a>
  </script>

  <script type="text/template" id="indicators-template">
    <div class="indicator green align-left">
      <span id="dashboard-sessions-number" class="text-big"><%= sessions %></span>
      <span data-l10n-id="sessions" class="text-big"></span>
    </div>
    <div class="indicator red align-right" id="indicator-calories">
      <span class="fa fa-fire fa-2x"></span>
      <span id="dashboard-calories" class="text-big"><%= calories %></span>
      <span data-l10n-id="burned-calories" class="text-big"></span>
    </div>
    <div class="indicator blue align-left">
      <span class="fa fa-road fa-2x"></span>
      <span id="dashboard-distance" class="text-big"><%= distance %></span>
    </div>
    <div class="indicator blue align-right">
      <span class="fa fa-clock-o fa-2x"></span>
      <span id="dashboard-duration" class="text-big"><%= duration %></span>
    </div>
  </script>

  <script type="text/template" id="details-session-basics-template">
  <div class="session-totals-container">
  <div data-l10n-id="date" class="width-half text-1-4 align-left">Date
    <span id="session-date" class="align-right"><%= date %></span>
  </div>

  <div data-l10n-id="start-time" class="width-half text-1-4 align-left">Start time
    <span id="session-date" class="align-right"><%= time %></span>
  </div>
  <div data-l10n-id="distance" class="width-half text-1-4 align-left">Distance
    <span id="session-date" class="align-right"><%= distance %></span>
  </div>

  <div data-l10n-id="duration" class="width-half text-1-4 align-left">Duration
    <span id="session-date" class="align-right"><%= duration %></span>
  </div>

  <div data-l10n-id="altitude-max" class="width-half text-1-4 align-left">Altitude max.
    <span id="session-date" class="align-right"><%= alt_max %></span>
  </div>

  <div data-l10n-id="altitude-min" class="width-half text-1-4 align-left">Altitude min.
    <span id="session-date" class="align-right"><%= alt_min %></span>
  </div>

  <div data-l10n-id="average-speed" class="width-half text-1-4 align-left">Average speed
    <span id="session-date" class="align-right"><%= avg_speed %></span>
  </div>

  <div data-l10n-id="calories" class="width-half text-1-4 align-left">Calories
    <span id="session-date" class="align-right"><%= calories %></span>
  </div>

  </div>
  <div class="accordeon">
    <section id="details-session-map">
    </section>

    <section>
      <h2>Altitude</h2>
      <div id="alt_graph"></div>
      <input type="checkbox" id="alt" />
      <label data-l10n-id="altitude-detailled-values" for ="alt">Altitude detailled values
        <span class="fa fa-chevron-right align-right"></span>
        <span class="fa fa-chevron-down align-right"></span>
      </label>
      <table id="alt_table"></table>
    </section>

    <section>
      <h2>Speed</h2>
      <div id="speed_graph"></div>
      <input type="checkbox" id="speed" />
      <label data-l1On-id="speed-detailled-values" for="speed">Speed detailled values
        <span class="fa fa-chevron-right align-right"></span>
        <span class="fa fa-chevron-down align-right"></span>
      </label>
      <table id="speed_table"></table>
    </section>
  </div>
  </script>

  <!--
    Details - Session Distance template
  -->

  <script type="text/>template" id="details-session-distance-template">
  <div data-l10n-id="distance" class="width-half text-1-4 align-left">Distance
    <span class="align-right"><%= distance %></span>
  </div>
  <div data-l10n-id="average-speed" class="width-half text-1-4 align-left">Average speed
    <span class="align-right"><%= avg_speed %></span>
  </div>
  </script>

  <!--
    Details - Session Altitude template
  -->

  <script type="text/>template" id="details-session-altitude-template">
  <div data-l10n-id="altitude-max" class="width-half text-1-4 align-left">Altitude max.
    <span class="align-right"><%= alt_max %></span>
  </div>

  <div data-l10n-id="altitude-min" class="width-half text-1-4 align-left">Altitude min.
    <span class="align-right"><%= alt_min %></span>
  </div>
  </script>

  <!--
    Details - Session Map template
  -->

  <script type="text/>template" id="details-session-map-template">
    <h2 data-l10n-id="map">Map</h2>
    <div id="session-map" class="map"></div>
    <input type="checkbox" id="geo" />
    <label data-l10n-id="geographical-detailled-values" for="geo">Geographical detailled values
      <span class="fa fa-chevron-right align-right"></span>
      <span class="fa fa-chevron-down align-right"></span>
    </label>
    <table id="geo_table"></table>
  </script>

  <script type="text/template" id="body-details-template">
    <div data-l10n-id="date" class="width-half text-1-4 align-left">Date
      <span id="body-date" class="align-right"><%= date %></span>
    </div>

    <div data-l10n-id="value" class="width-half text-1-4 align-left">
      <span id="body-value" class="align-right"><%= value %></span>
    </div>
  </script>

  <script type="text/template" id="session-details-template-2">
      <i class="fa fa-2x fa-trash" aria-hidden="true" id="session-2-delete" session_id="<%= session_cid %>"></i>
  <div class="session-totals-container">
    <div data-l10n-id="date" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= date %></span>
    </div>
    <div data-l10n-id="start-time" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= time %></span>
    </div>
    <div data-l10n-id="distance" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= distance %></span>
    </div>
    <div data-l10n-id="duration" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= duration %></span>
    </div>
    <div data-l10n-id="average-speed" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= avg_speed %></span>
    </div>
    <div data-l10n-id="calories" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= calories %></span>
    </div>
  </div>
  </script>

  <script type="text/template" id="session-details-template-3">
      <i class="fa fa-2x fa-trash" aria-hidden="true" id="session-3-delete" session_id="<%= session_cid %>"></i>
  <div class="session-totals-container">
    <div data-l10n-id="date" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= date %></span>
    </div>
    <div data-l10n-id="start-time" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= time %></span>
    </div>

    <div data-l10n-id="duration" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= duration %></span>
    </div>
    <div data-l10n-id="calories" class="width-half text-1-4 align-left">
      <span id="session-date" class="align-right"><%= calories %></span>
    </div>
  </div>
  </script>

  <script type="text/template" id="modal-delete-template">
    <div session_id="<% session_cid %>">
      <h1 data-l10n-id="confirmation">Confirmation</h1>
      <p><% name %></p>
      <p>
        <span>Are you sure you want to delete it?</span>
      </p>
      <button id="btn-cancel-delete" class="cancel" data-l10n-id="cancel">Cancel</button>
      <button id="btn-confirm-delete" role="button" class="danger" data-l10n-id="confirm">Confirm</button>
    </div>
  </script>

  <script type="text/javascript" src="js/lib/l10n.js"></script>
  <script type="text/javascript" src="js/lib/microtemplates.js"></script>
  <script type="text/javascript" src="js/lib/exoskeleton.js"></script>
  <script type="text/javascript" src="js/lib/backbone.nativeajax.js"></script>
  <script type="text/javascript" src="js/lib/backbone.nativeview.js"></script>
  <script type="text/javascript" src="js/lib/leaflet.js"></script>
  <script type="text/javascript" src="js/lib/d3.js"></script>
  <script type="text/javascript" src="js/lib/crossfilter.js"></script>
  <script type="text/javascript" src="js/lib/dc.js"></script>
  <script type="text/javascript" src="js/utils/polyfill.js"></script>
  <script type="text/javascript" src="js/utils/gpx.js"></script>
  <script type="text/javascript" src="js/utils/tracks.js"></script>
  <script type="text/javascript" src="js/utils/chrono.js"></script>
  <script type="text/javascript" src="js/utils/map.js"></script>
  <script type="text/javascript" src="js/utils/helpers.js"></script>
  <!-- <script type="text/javascript" src="js/workers/data_compute.js"></script> -->

  <!-- <script type="text/javascript" src="js/models/message.js"></script> -->
  <script type="text/javascript" src="js/models/session.js"></script>
  <script type="text/javascript" src="js/models/gps_track.js"></script>
  <!-- <script type="text/javascript" src="js/models/body_weight.js"></script>
  <script type="text/javascript" src="js/models/calorie.js"></script> -->
  <script type="text/javascript" src="js/models/item.js"></script>
  <!-- <script type="text/javascript" src="js/models/preferences.js"></script> -->
  <!-- <script type="text/javascript" src="js/collections/messages.js"></script> -->
  <script type="text/javascript" src="js/collections/sessions.js"></script>
  <script type="text/javascript" src="js/collections/gps_tracks.js"></script>
  <!-- <script type="text/javascript" src="js/collections/body_weight.js"></script>
  <script type="text/javascript" src="js/collections/calories.js"></script> -->
  <script type="text/javascript" src="js/collections/dashboard.js"></script>

  <!-- <script type="text/javascript" src="js/factories/views/dashboard_message.js"></script> -->
  <script type="text/javascript" src="js/factories/views/dashboard_session_basics.js"></script>
  <script type="text/javascript" src="js/factories/views/dashboard_session_distance.js"></script>
  <!-- <script type="text/javascript" src="js/factories/views/details-session-distance.js"></script>
  <script type="text/javascript" src="js/factories/views/details-session-altitude.js"></script>
  <script type="text/javascript" src="js/factories/views/details-session-map.js"></script> -->
  <script type="text/javascript" src="js/factories/views/new_session_import_form.js"></script>
  <script type="text/javascript" src="js/factories/views/new_session_altitude.js"></script>
  <script type="text/javascript" src="js/factories/views/new_session_distance.js"></script>
  <script type="text/javascript" src="js/factories/views/new_session_basics.js"></script>

  <script type="text/javascript" src="js/factories/activities/bmx.js"></script>
  <script type="text/javascript" src="js/factories/activities/climbing.js"></script>
  <script type="text/javascript" src="js/factories/activities/football.js"></script>
  <script type="text/javascript" src="js/factories/activities/frisbee.js"></script>
  <script type="text/javascript" src="js/factories/activities/handball.js"></script>
  <script type="text/javascript" src="js/factories/activities/in_sea.js"></script>
  <script type="text/javascript" src="js/factories/activities/kicking.js"></script>
  <script type="text/javascript" src="js/factories/activities/kitesurfing.js"></script>
  <!-- <script type="text/javascript" src="js/factories/activities/mountain_biking.js"></script>
  <script type="text/javascript" src="js/factories/activities/paddling.js"></script>
  <script type="text/javascript" src="js/factories/activities/ping_pong.js"></script>
  <script type="text/javascript" src="js/factories/activities/punching.js"></script>
  <script type="text/javascript" src="js/factories/activities/racing.js"></script>
  <script type="text/javascript" src="js/factories/activities/regular_biking.js"></script>
  <script type="text/javascript" src="js/factories/activities/roller_skating.js"></script>
  <script type="text/javascript" src="js/factories/activities/running.js"></script>
  <script type="text/javascript" src="js/factories/activities/skateboarding.js"></script>
  <script type="text/javascript" src="js/factories/activities/skiing.js"></script>
  <script type="text/javascript" src="js/factories/activities/sparring.js"></script>
  <script type="text/javascript" src="js/factories/activities/stick_fighting.js"></script>
  <script type="text/javascript" src="js/factories/activities/sup.js"></script>
  <script type="text/javascript" src="js/factories/activities/surfing.js"></script>
  <script type="text/javascript" src="js/factories/activities/swimming.js"></script>
  <script type="text/javascript" src="js/factories/activities/tennis.js"></script>
  <script type="text/javascript" src="js/factories/activities/time_trial_biking.js"></script>
  <script type="text/javascript" src="js/factories/activities/trekking.js"></script>
  <script type="text/javascript" src="js/factories/activities/walking.js"></script>
  <script type="text/javascript" src="js/factories/activities/wrestling.js"></script>
  <script type="text/javascript" src="js/factories/body_weight/body_weight.js"></script>
  <script type="text/javascript" src="js/factories/messages/message.js"></script> -->
  <script type="text/javascript" src="js/factories/factory.js"></script>

  <script type="text/javascript" src="js/views/indicators.js"></script>
  <!-- <script type="text/javascript" src="js/views/modal.js"></script> -->
  <script type="text/javascript" src="js/views/dashboard.js"></script>
  <script type="text/javascript" src="js/views/new-session.js"></script>
  <script type="text/javascript" src="js/views/session.js"></script>
  <!-- <script type="text/javascript" src="js/views/new-body-weight.js"></script> -->
  <!-- <script type="text/javascript" src="js/views/preferences.js"></script> -->
  <script type="text/javascript" src="js/views/sessions.js"></script>
  <!-- <script type="text/javascript" src="js/views/reports.js"></script> -->
  <script type="text/javascript" src="js/views/navigation.js"></script>
  <script type="text/javascript" src="js/router.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
