<template>
  <v-card class="auth-card auth-wrapper">
    <!-- logo -->
    <v-card-title>
      <img
        class="logo"
        src="@/assets/images/favicon/favicon-96x96.png"
        alt="Run, Bike, Hike..."
        max-height="96"
        max-width="96"
      />
      <h2>Run, Bike, Hike…</h2>
    </v-card-title>

    <!-- Register form -->
    <v-card-text>
      <v-form ref="form">
        <v-text-field
          v-model="email"
          label="Email"
          type="email"
          :rules="[rulesRequired, rulesEmail]"
          @input="validateForm"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="password"
          label="Password"
          type="password"
          :rules="[rulesRequired, rulesCounter]"
          @input="validateForm"
          minLength="8"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="verified_password"
          label="Verified Password"
          type="password"
          :rules="[rulesRequired, rulesCounter, rulesPasswordMatch]"
          @input="validateForm"
          minLength="8"
          outlined
        ></v-text-field>
        <v-btn
          block
          color="info"
          class="mt-6"
          type="submit"
          @click="handleRegister"
          :disabled="!isFormValid"
        >
          Register
        </v-btn>
      </v-form>
    </v-card-text>
    <!-- email already registered  -->
    <div
      class="d-flex text-error font-weight-bold align-center justify-center flex-wrap"
      v-if="error_message"
    >
      {{ error_message }}
    </div>
    <!-- Sign In to existing account  -->
    <v-card-text class="d-flex align-center justify-center flex-wrap mt-2">
      <span class="me-2"> Already have login and password? </span>
      <router-link to="/sign_in">Sign In </router-link>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { apiService } from './../../services';
import { useRouter } from 'vue-router';

const router = useRouter();

const email = ref('');
const password = ref('');
const verified_password = ref('');
const error_message = ref('');
const isFormValid = ref(false);

function validateForm() {
  isFormValid.value = (email.value &&
    password.value &&
    verified_password.value &&
    password.value === verified_password.value) as boolean;
}

const rulesRequired = (value) => {
  return !!value || 'Field is required.';
};

const rulesCounter = (value) => {
  return value.length >= 8 || 'Min 8 characters';
};

const rulesPasswordMatch = () => {
  return password.value === verified_password.value || 'Password must match';
};

const rulesEmail = (value) => {
  const pattern =
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return pattern.test(value) || 'Invalid e-mail.';
};

const handleRegister = async (e) => {
  // https://stackoverflow.com/questions/61522494/react-axios-error-request-aborted-for-delete-request-in-firefox-but-not-in-chro
  e.preventDefault();

  try {
    await apiService.register({ email: email.value, password: password.value });
    router.push('/sign_in');
  } catch (err) {
    if (err === '409 Conflict') {
      error_message.value = 'Email already registered';
    } else {
      error_message.value =
        (err.response && err.response.data && err.response.data.message) ||
        err.message ||
        err.toString();
    }
    console.error('[Views/Register] handleRegister Error Message: %s', error_message.value);
  }
};
</script>
