<template>
  <v-card class="auth-card auth-wrapper">
    <v-card-title>
      <img
        class="logo"
        src="@/assets/images/favicon/favicon-96x96.png"
        alt="Run, Bike, Hike..."
        max-height="96"
        max-width="96"
      />
      <h2>Run, Bike, Hike…</h2>
    </v-card-title>

    <v-card-text>
      <v-form ref=" ref">
        <v-text-field
          :rules="[rulesRequired, rulesEmail]"
          label="Email"
          type="email"
          outlined
          v-model="email"
        ></v-text-field>
        <v-text-field
          :rules="[rulesRequired, rulesLength]"
          label="Password"
          type="password"
          minLength="8"
          outlined
          v-model="password"
        ></v-text-field>
        <router-link to="/new_password" style="display: inline-block; margin-bottom: 16px">
          Forgot password?
        </router-link>
        <br />
        <v-btn block color="primary" class="no-margin" type="submit" @click="handleSignIn">
          Sign In</v-btn
        >
      </v-form>
    </v-card-text>

    <v-card-text class="d-flex align-center justify-center flex-wrap mt-2">
      <span> Don't have an account yet? </span>
      <router-link to="/register"> Register </router-link>
    </v-card-text>

    <div v-if="error" class="text-error font-weight-bold text-center">{{ error }}</div>
    <!-- <div class="red--text font-weight-bold text-center">{{ message }}</div> -->
  </v-card>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';

import { useAuthUserStore } from '../../stores/auth.user';
import { useUserProfileStore } from '../../stores/user.profile';

import { apiService } from '../../services';
import { useDisplayStore } from '../../stores/display';

console.debug('[views/SignIn] setup');

const router = useRouter();
const authUserStore = useAuthUserStore();
const userProfileStore = useUserProfileStore();

const displayStore = useDisplayStore();

const email = ref('');
const password = ref('');
// const message = ref('');
const error = ref('');

onBeforeMount(() => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;
  console.debug('SignIn/displaySides: ', displayStore.displaySides);
});

const rulesRequired = (value) => {
  return !!value || 'Field is required.';
};

const rulesLength = (value) => {
  return value.length >= 8 || 'Min 8 characters.';
};

const rulesEmail = (value) => {
  const pattern =
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return pattern.test(value) || 'Invalid e-mail.';
};

const handleSignIn = async (e) => {
  // https://stackoverflow.com/questions/61522494/react-axios-error-request-aborted-for-delete-request-in-firefox-but-not-in-chro
  e.preventDefault();
  try {
    await apiService.signIn({ email: email.value, password: password.value });
    error.value = '';

    authUserStore.$patch({ isAuthenticated: true, error: null });

    const profile = await apiService.loadUserProfile();
    userProfileStore.$patch({
      id: profile.user_id,
      email: profile.email,
      name: profile.name,
      gender: profile.gender,
      birthyear: profile.birthyear,
      height: profile.height,
      weight: profile.weight,
      location: profile.location,
      biography: profile.biography,
      avatarDTO: {
        mimetype: profile.avatar ? profile.avatar.type : '',
        data: profile.avatar ? profile.avatar.data : '',
      },
      is_admin: profile.is_admin,
    });
    if (profile.avatar) userProfileStore.convertBase64ToURL();

    if (
      profile.name === 'to be updated' ||
      profile.gender === 'to be updated' ||
      profile.birthyear === new Date().getFullYear() - 99 ||
      profile.height === 0 ||
      profile.weight === 0
    ) {
      console.debug('[Views/SignIn] New User %s. Need to fill User Profile', profile.email);
      router.push('/profile/edit');
    } else {
      console.debug('[Views/SignIn] User %s has a Profile', profile.email);
      router.push('/');
    }
  } catch (err) {
    console.error('[Views/SignIn] handleSignIn: ', err);
    if (err === 'User is disabled.') {
      error.value = `User "${email.value}" is disabled. Please contact your administrator.`;
    } else if (err === 'Authentication failed') {
      error.value = 'Invalid email or password.';
    } else {
      error.value = err;
    }
    authUserStore.$patch({ isAuthenticated: false, error: err });
  }
};
</script>

<style>
.auth-card {
  width: 460px;
  background-color: #ffffff;
  padding: 1.5rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a {
  text-decoration: unset;
}
</style>
