<template>
  <v-sheet color="white" rounded class="pa-2">
    <v-row align-self="center" no-gutters>
      <!-- Avatar -->
      <v-col cols="1" align="center">
        <v-btn variant="text" class="text-transform-none" style="height: 85px">
          <Avatar
            :fullname="props.session.user_name"
            :image="props.session.user_avatar"
            :size="64"
          />
        </v-btn>
      </v-col>

      <!-- User Name & Session Start Date Time and Location -->
      <v-col cols="4">
        <v-btn
          class="text-subtitle-1 font-weight-bold text-transform-none"
          @click="handleDisplayUserProfile"
          variant="text"
        >
          {{ props.session.user_name }}
        </v-btn>
        <v-row class="pl-4" no-gutters>
          <v-col cols="2">
            <v-icon
              :icon="activitiesStore.getIconFromName(props.session.activity_name)"
              size="x-large"
            ></v-icon>
          </v-col>
          <v-col class="pl-2">
            <p class="text-subtitle-2">
              {{ DateTimeMap.toDate(props.session.start_date_time) }}
              à
              {{ DateTimeMap.toTime(props.session.start_date_time) }}
            </p>
            <p v-if="props.session.location" class="text-subtitle-2">
              {{ props.session.location }}
            </p>
          </v-col>
        </v-row>
      </v-col>

      <!--  -->
      <v-spacer></v-spacer>

      <!-- Icons -->
      <v-col cols="1">
        <v-btn @click="handleDisplayRecords" variant="text" class="pa-0 ml-0 mr-0">
          <v-icon aria-hidden="false" size="large">mdi-medal-outline</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="1">
        <v-btn @click="handleDisplayChallenges" variant="text" class="pa-0 ml-0 mr-0">
          <v-icon aria-label="Challenges" aria-hidden="false" size="large"
            >mdi-trophy-outline</v-icon
          >
        </v-btn>
      </v-col>

      <!--       <v-spacer></v-spacer>

      <v-col cols="1">
        <v-icon :icon="mdiStar" size="x-large"></v-icon>
      </v-col> -->
    </v-row>

    <!--  -->
    <v-row no-gutters class="ml-6">
      <v-col>
        <v-btn
          class="text-h6 text-transform-none ma-0 pa-0"
          @click="handleDisplaySessionDetails"
          variant="text"
          >{{ props.session.name }}</v-btn
        >
      </v-col>
    </v-row>

    <!-- Description -->
    <v-row v-if="props.session.description" class="ml-6 mr-6 mb-3" no-gutters>
      <v-col>
        <p class="text-body-2 max-chars">{{ props.session.description }}</p>
      </v-col>
    </v-row>

    <v-divider style="width: 90%; margin: auto"></v-divider>
    <!--  -->
    <v-row class="ml-6 mr-6" no-gutters>
      <!-- Distance -->
      <v-col v-if="props.session.distance">
        <p class="text-subtitle-2 mt-2">Distance</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DistanceMap.toNiceMetrics(props.session.distance).value }}
          {{ DistanceMap.toNiceMetrics(props.session.distance).unit }}
        </p>
      </v-col>
      <!-- Duration -->
      <v-col>
        <p class="text-subtitle-2 mt-2">Duration</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DurationMap.toNice(props.session.duration) }}
        </p>
      </v-col>
      <!-- Speed -->
      <v-col v-if="props.session.distance">
        <p class="text-subtitle-2 mt-2">Allure</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ formatAverageSpeed(props.session) }}
        </p>
      </v-col>
    </v-row>

    <!-- Map -->
    <v-row v-if="props.session.gps_track_coordinates" justify="center" class="ml-4 mr-4" no-gutters>
      <TrackMap :coordinates="JSON.parse(props.session.gps_track_coordinates).coordinates" />
    </v-row>

    <!-- Social elements -->
    <v-row no-gutters>
      <v-col>
        <p class="text">
          <v-btn @click="handleViewLikes" variant="text" class="text-subtitle-2 text-transform-none"
            >{{ props.session.nb_likes }} Likes
          </v-btn>
          <v-btn
            @click="handleViewComments"
            variant="text"
            class="text-subtitle-2 text-transform-none"
          >
            {{ props.session.nb_comments }} Comments
          </v-btn>
        </p>
      </v-col>
      <v-spacer></v-spacer>

      <v-col cols="1">
        <v-btn @click="handleAddLike" icon="mdi-heart-outline" size="small" variant="tonal"></v-btn>
      </v-col>
      <v-col cols="1">
        <v-btn
          @click="handleAddAComment"
          icon="mdi-message-outline"
          size="small"
          variant="tonal"
        ></v-btn>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

import Avatar from '../../Avatar.vue';

import TrackMap from '../session/TrackMap.vue';
import { DateTimeMap } from './../../../mappers/dateTimeMap';
import { DistanceMap } from './../../../mappers/distanceMap';
import { DurationMap } from './../../../mappers/durationMap';
import { SpeedMap } from './../../../mappers/speedMap';
import { useActivitiesStore } from './../../../stores/activities';

const router = useRouter();

const props = defineProps(['session']);

const activitiesStore = useActivitiesStore();

const formatAverageSpeed = (session) => {
  if (session.activity_name === 'running') {
    return SpeedMap.toNiceRunnigMetricPace(session.average_speed);
  } else if (session.activity_name === 'swimming') {
    return SpeedMap.toNiceSwimmingMetricPace(session.average_speed);
  } else {
    return SpeedMap.toNiceMetricSpeed(session.average_speed);
  }
};

const handleDisplayUserProfile = () => {
  router.push(`/profile/${props.session.user_id}`);
};

const handleDisplayRecords = () => {
  console.debug('Request to display records for session: ', props.session.id);
};

const handleDisplayChallenges = () => {
  console.debug('Request to display challenges to session: ', props.session.id);
};

const handleDisplaySessionDetails = () => {
  console.debug('Request to session: ', props.session.id);
  router.push(`/session/${props.session.id}`);
};

const handleAddLike = () => {
  console.debug('Request to add a like to session: ', props.session.id);
};

const handleAddAComment = () => {
  console.debug('Request to add a comment to session: ', props.session.id);
  router.push(`/session/comments/${props.session.id}`);
};

const handleViewLikes = () => {
  console.debug('Request to view Likes for session: ', props.session.id);
};

const handleViewComments = () => {
  console.debug('Request to view Comments for session: ', props.session.id);
  router.push(`/session/comments/${props.session.id}`);
};
</script>

<style scoped>
.max-chars {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  font-family: 'Montserrat SemiBold';
  font-size: 1rem;
  font-weight: bold;
}
</style>
