<template>
  <v-sheet width="100%" min-height="568px" class="bg-grey-lighten-3">
    <ul>
      <li v-for="item in timelineStore.getFilteredItems" :key="item.id">
        <SessionItem v-if="item.type === 'session'" :session="item" />
      </li>
    </ul>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue';

import { useDisplayStore } from './../../../stores/display';
import { useTimelineStore } from './../../../stores/timeline';
import { useUsersStore } from './../../../stores/users';

import SessionItem from './SessionItem.vue';

import { apiService } from './../../../services';
import { ImageMap } from './../../../mappers/imageMap';

const displayStore = useDisplayStore();
const timelineStore = useTimelineStore();
const usersStore = useUsersStore();

onBeforeMount(async () => {
  displayStore.displayLeft = true;
  displayStore.displayRight = true;
  try {
    const rawTimeline = await apiService.getUserTimeline('14days');

    console.debug('[Components/Timeline] onBeforeMount - rawTimeline: ', rawTimeline);

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const timeline: any[] = [];
    for (const item of rawTimeline) {
      const user = await usersStore.getUser(item.user_id);

      timeline.push({
        ...item,
        user_name: user.name,
        user_avatar: ImageMap.base64ToURL({
          mimetype: user.avatar.mimetype,
          data: user.avatar.data,
        }),
      });
    }

    timelineStore.loadItemsToTimeline(timeline);
  } catch (err) {
    console.error('[Components/Timeline] onBeforeMount Error: %s', err);
  }
});
</script>

<style scoped>
ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 16px;
}
</style>
