@font-face {
  font-family: 'Montserrat Regular';
  src: url('./../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('./../fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('./../fonts/Montserrat-Light.otf');
}

body {
  font-family: 'Montserrat Regular';
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat SemiBold', 'sans serif';
}