<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <!-- Activities -->
    <v-row align="center" justify="space-around">
      <v-col class="ma-2">
        <v-combobox
          label="Activity"
          :items="activities"
          density="comfortable"
          v-model="session.activity_name"
        ></v-combobox>
      </v-col>
      <!-- -->

      <!-- Session Name -->
      <v-col class="ma-2">
        <v-text-field
          label="Session name"
          density="comfortable"
          v-model="session.name"
        ></v-text-field>
        <!-- <div class="text-h6 text-transform-none pb-2" v-html="session.name"></div> -->
      </v-col>
    </v-row>
    <!-- -->

    <!-- Start Date -->
    <v-row align="center" justify="space-around">
      <v-col class="ma-2">
        <v-text-field
          type="date"
          label="Start date"
          density="comfortable"
          v-model="session.start_date"
        ></v-text-field>
      </v-col>
      <!-- -->

      <!-- Start Time -->
      <v-col class="ma-2">
        <v-text-field
          type="time"
          label="Start time"
          density="comfortable"
          v-model="session.start_time"
        ></v-text-field>
      </v-col>
    </v-row>
    <!-- -->

    <!-- Duration -->
    <v-row align="center" justify="space-around">
      <v-col class="ma-2">
        <v-text-field
          type="number"
          step="1"
          label="Duration (minutes)"
          density="comfortable"
          v-model="session.duration"
        ></v-text-field>
      </v-col>
      <!-- -->

      <!-- Burned Calories -->
      <v-col class="ma-2">
        <v-text-field
          disabled
          type="number"
          label="Burned calories"
          density="comfortable"
          v-model="session.burned_calories"
        ></v-text-field>
      </v-col>
    </v-row>
    <!-- -->

    <!-- Distance -->
    <v-row align="center" justify="space-around">
      <v-col class="ma-2">
        <v-text-field
          type="number"
          step="0.01"
          label="Distance (m)"
          density="comfortable"
          v-model="session.distance"
          @change="setAverageSpeed"
        ></v-text-field>
      </v-col>
      <!-- -->

      <!-- Average Speed -->
      <v-col class="ma-2">
        <v-text-field
          disabled
          type="number"
          step="0.01"
          label="Average speed (m/s)"
          density="comfortable"
          v-model="sessionStore.getAverageSpeedFixed"
        ></v-text-field>
      </v-col>
    </v-row>
    <!-- -->

    <!-- Description -->
    <v-row align="center" justify="space-around">
      <v-col class="ma-2">
        <v-textarea label="Description" v-model="session.description"></v-textarea>
      </v-col>
    </v-row>

    <v-row align="center" justify="space-around">
      <v-btn class="mb-4" color="error" large @click="handleCancel">Cancel</v-btn>
      <v-btn class="mb-4" color="primary" large @click="handleUpdateSession">Update</v-btn>
    </v-row>

    <!-- Waiting modal -->
    <WaitingModal :show="modal_dialog" :text="modal_dialog_text" />
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';

import { useDisplayStore } from './../../../stores/display';
import { useActivitiesStore } from './../../../stores/activities';
import { useSessionStore } from './../../../stores/session';

import { apiService } from './../../../services';

import WaitingModal from './../../WaitingModal.vue';

const router = useRouter();

const displayStore = useDisplayStore();

const activitiesStore = useActivitiesStore();
const activities = activitiesStore.getActivitiesListForDisplay;

const sessionStore = useSessionStore();
const session = sessionStore.$state;

let modal_dialog = ref(false);
let modal_dialog_text = ref('');

onBeforeMount(async () => {
  console.debug('[Views/EditSession] onBeforeMount ');
  displayStore.displayLeft = false;
  displayStore.displayRight = false;
});

const setAverageSpeed = () => {
  if (session.duration && session.distance) {
    sessionStore.setAverageSpeed();
  }
};

const handleCancel = () => {
  sessionStore.$reset();
  router.push('/');
};

const handleUpdateSession = async (e) => {
  // https://stackoverflow.com/questions/61522494/react-axios-error-request-aborted-for-delete-request-in-firefox-but-not-in-chro
  e.preventDefault();

  modal_dialog_text.value = 'Updating session…';
  modal_dialog.value = true;

  const session = sessionStore.getSessionDTO;
  console.debug('session: ', session);

  try {
    const response = await apiService.updateSession(sessionStore.getSessionDTO);
    console.debug(
      `[View/EditSession] handleUpdateSession - session: ${JSON.stringify(response.id)}`
    );

    sessionStore.resetWholeSession();
    router.push(`/session/${response.id}`);
  } catch (error) {
    console.error('error while adding a session: ', session);
  }
};
</script>
