<template>
  <div class="chart">
    <canvas id="chart" ref="chart"></canvas>
  </div>
</template>

<script lang="ts">
import Chart from 'chart.js/auto';
import 'chartjs-adapter-date-fns';

export default {
  props: ['chartLabel', 'labels', 'dataset', 'chart_color', 'data_min', 'data_max'],
  mounted: function () {
    const chartLabel = this.$props.chartLabel;
    const labels = this.$props.labels;
    const dataset = this.$props.dataset;
    const chart_color = this.$props.chart_color ? this.$props.chart_color : '92, 156, 186';

    new Chart(this.$refs.chart as HTMLCanvasElement, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [
          {
            label: chartLabel,
            data: dataset,
            // parsing: false,
            fill: true,
            pointStyle: false,
            borderColor: `rgba(${chart_color})`,
            backgroundColor: `rgba(${chart_color}, 0.2)`,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          x: {
            type: 'time',
            grid: {
              display: false,
            },
          },
        },
      },
      /*plugins: {
          decimation: {
            enabled: true,
            algorithm: 'lttb',
            samples: 500,
          },
        },*/
    });
  },
};
</script>

<style scoped>
.chart {
  width: 100%;
  height: 224px;
}
</style>
