<!-- eslint-disable vue/no-v-text-v-html-on-component -->
<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <v-row no-gutters>
      <v-col>
        <v-btn
          @click="router.push('/')"
          prepend-icon="mdi-arrow-left"
          variant="text"
          density="comfortable"
        ></v-btn>
      </v-col>
    </v-row>
    <v-row align-self="center" no-gutters>
      <!-- Avatar -->
      <v-col cols="1" align="center">
        <v-btn variant="text" class="text-transform-none" style="height: 85px">
          <Avatar :fullname="session.user_name" :image="session.user_avatar" :size="64" />
        </v-btn>
      </v-col>

      <!-- User Name & Session Start Date Time and Location -->
      <v-col cols="4">
        <v-btn
          class="text-subtitle-1 font-weight-bold text-transform-none"
          @click="handleDisplayUserProfile"
          variant="text"
        >
          {{ session.user_name }}
        </v-btn>
        <v-row class="pl-4" no-gutters>
          <v-col cols="2">
            <v-icon
              :icon="activitiesStore.getIconFromName(session.activity_name)"
              size="x-large"
            ></v-icon>
          </v-col>
          <v-col class="pl-2">
            <p class="text-subtitle-2">
              {{ DateTimeMap.toDate(session.start_date) }}
              à
              {{ DateTimeMap.toTime(session.start_time) }}
            </p>
            <p v-if="session.location" class="text-subtitle-2">
              {{ session.location }}
            </p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <!--  -->
    <v-row no-gutters class="ml-6">
      <v-col>
        <v-btn
          class="text-h6 text-transform-none ma-0 pa-0"
          @click="handleDisplaySessionDetails"
          variant="text"
          >{{ session.name }}</v-btn
        >
      </v-col>
    </v-row>

    <!-- Description -->
    <v-row v-if="session.description" class="ml-6 mr-6 mb-3" no-gutters>
      <v-col>
        <p class="text-body-2 max-chars">{{ session.description }}</p>
      </v-col>
    </v-row>

    <v-divider></v-divider>
    <!--  -->
    <v-row class="ml-6 mr-6" no-gutters>
      <!-- Distance -->
      <v-col v-if="session.distance">
        <p class="text-subtitle-2 mt-2">Distance</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DistanceMap.toNiceMetrics(session.distance).value }}
          {{ DistanceMap.toNiceMetrics(session.distance).unit }}
        </p>
      </v-col>
      <!-- Duration -->
      <v-col>
        <p class="text-subtitle-2 mt-2">Duration</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DurationMap.toNice(session.duration) }}
        </p>
      </v-col>
      <!-- Speed -->
      <v-col v-if="session.distance">
        <p class="text-subtitle-2 mt-2">Allure</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ formatAverageSpeed(session) }}
        </p>
      </v-col>
    </v-row>

    <!-- Map -->

    <!-- Social elements -->
    <v-row no-gutters>
      <v-col>
        <p class="text">
          <v-btn @click="handleViewLikes" variant="text" class="text-subtitle-2 text-transform-none"
            >{{ session.nb_likes }} Likes
          </v-btn>
          <v-btn disabled variant="text" class="text-subtitle-2 text-transform-none">
            {{ session.nb_comments }} Comments
          </v-btn>
        </p>
      </v-col>
    </v-row>
    <!-- </v-sheet> -->

    <!-- Comments  -->
    <!-- <v-sheet width="100%" max-width="960px" rounded class="pa-4"> -->
    <v-divider></v-divider>
    <v-row>
      <ul class="mt-4" style="list-style-type: none">
        <li v-for="comment in session.comments" :key="comment.id">
          <Comment
            :comment="comment"
            :isUserTheWriter="comment.user_name === userProfileStore.getProfile.name"
            @delete="deleteComment"
          />
        </li>
      </ul>
    </v-row>
    <!-- </v-sheet> -->

    <!-- New comment entry -->
    <!-- <v-sheet width="100%" max-width="960px" rounded class="pa-4"> -->
    <v-row>
      <v-col>
        <v-text-field
          density="compact"
          clearable
          label="Add a comment"
          v-model="new_comment"
          @keyup.enter="handlePublishComment"
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-btn color="primary" class="mb-4" @click="handlePublishComment">Publish</v-btn>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';

import { apiService } from './../../../services';

import { useDisplayStore } from './../../../stores/display';
import { useSessionStore } from './../../../stores/session';
import { useActivitiesStore } from './../../../stores/activities';
import { useUsersStore } from './../../../stores/users';
import { useUserProfileStore } from './../../../stores/user.profile';

import { DistanceMap } from './../../../mappers/distanceMap';
import { DurationMap } from './../../../mappers/durationMap';
import { SpeedMap } from './../../../mappers/speedMap';
import { ImageMap } from './../../../mappers/imageMap';
import { DateTimeMap } from '../../../mappers/dateTimeMap';

import Avatar from './../../Avatar.vue';
import Comment from './../../Comment.vue';

const router = useRouter();

const props = defineProps<{
  id: string;
}>();

const displayStore = useDisplayStore();

const sessionStore = useSessionStore();
const activitiesStore = useActivitiesStore();
const userProfileStore = useUserProfileStore();
const usersStore = useUsersStore();

const session = sessionStore.getSession;

// const profile = userProfileStore.getProfile;

const new_comment = ref('');

onBeforeMount(async () => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;

  try {
    console.debug('[View/SessionComments] onBeforeMount - props.id: %s', props.id);
    const rawSession = await apiService.getSessionMetadata(props.id);

    console.debug(
      '[View/SessionComments] onBeforeMount - rawSession.nb_comments: %s',
      rawSession.nb_comments
    );
    if (rawSession.nb_comments !== 0) {
      const rawComments = await apiService.getSessionComments(props.id);
      console.debug('[View/SessionComments] onBeforeMount - rawComments: ', rawComments);
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      const comments: any[] = [];
      for (let index = 0; index < rawComments.length; index++) {
        const rawComment = rawComments[index];
        const user = await usersStore.getUser(rawComment.user_id);

        comments.push({
          id: rawComment.id,
          text: rawComment.text,
          date_time: rawComment.date_time,
          user_name: user.name,
          user_avatar: ImageMap.base64ToURL({
            mimetype: user.avatar.mimetype,
            data: user.avatar.data,
          }),
        });
      }
      sessionStore.setComments(comments);
    }

    await sessionStore.setMetada(rawSession);
  } catch (err) {
    console.error('[Views/SessionComments] onBeforeMount Error: %s', err);
  }
});

const formatAverageSpeed = (session) => {
  if (session.activity_name === 'running') {
    return SpeedMap.toNiceRunnigMetricPace(session.average_speed);
  } else if (session.activity_name === 'swimming') {
    return SpeedMap.toNiceSwimmingMetricPace(session.average_speed);
  } else {
    return SpeedMap.toNiceMetricSpeed(session.average_speed);
  }
};

const handlePublishComment = async () => {
  const commentProps = {
    text: new_comment.value,
    date_time: new Date().toISOString(),
    session_id: sessionStore.getId,
    user_id: userProfileStore.getUserId,
  };
  console.debug(
    `[View/SessionComments] handlePublishComment - commentProps: ${JSON.stringify(commentProps)}`
  );
  const response = await apiService.addComment(commentProps);
  const comment_id = response.id;
  console.debug(
    `[View/SessionComments] handlePublishComment - comment_id: ${JSON.stringify(comment_id)}`
  );

  const rawComments = await apiService.getSessionComments(props.id);
  console.debug('[View/SessionComments] onBeforeMount - rawComments: ', rawComments);
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  const comments: any[] = [];
  for (let index = 0; index < rawComments.length; index++) {
    const rawComment = rawComments[index];
    const user = await usersStore.getUser(rawComment.user_id);

    comments.push({
      id: rawComment.id,
      text: rawComment.text,
      date_time: rawComment.date_time,
      user_name: user.name,
      user_avatar: ImageMap.base64ToURL({
        mimetype: user.avatar.mimetype,
        data: user.avatar.data,
      }),
    });
  }
  sessionStore.setComments(comments);
  sessionStore.setNbComments(comments.length);

  new_comment.value = '';
};

const deleteComment = async (commentId) => {
  console.debug('[Views/SessionComments] deleteComment - commentId: %s', commentId);

  try {
    const response = await apiService.deleteComment(commentId);
    console.debug(`[Views/SessionComments] deleteComment - response: ${JSON.stringify(response)}`);

    sessionStore.decreaseNbComments();
    if (sessionStore.getCommentsNumberForDisplay != 0) {
      const rawComments = await apiService.getSessionComments(props.id);

      const comments: {
        id: string;
        text: string;
        date_time: string;
        user_name: string;
        user_avatar: string;
      }[] = [];
      for (let index = 0; index < rawComments.length; index++) {
        const rawComment = rawComments[index];
        const user = await usersStore.getUser(rawComment.user_id);

        comments.push({
          id: rawComment.id,
          text: rawComment.text,
          date_time: rawComment.date_time,
          user_name: user.name,
          user_avatar: ImageMap.base64ToURL({
            mimetype: user.avatar.mimetype,
            data: user.avatar.data,
          }),
        });
      }
      sessionStore.setComments(comments);
    }
  } catch (err) {
    console.error('[Views/SessionComments] deleteComment Error: %s', err);
  }
};

const handleDisplayUserProfile = () => {
  router.push(`/profile/${session.user_id}`);
};

const handleDisplaySessionDetails = () => {
  console.debug('Request to session: ', session.id);
  router.push(`/session/${session.id}`);
};

const handleViewLikes = () => {
  console.debug('Request to view Likes for session: ', session.id);
};
</script>
