<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <v-row no-gutters>
      <v-col>
        <v-btn
          @click="router.push('/')"
          prepend-icon="mdi-arrow-left"
          variant="text"
          density="comfortable"
        ></v-btn>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <!-- Avatar -->
      <v-col cols="1" align="center">
        <v-btn variant="text" class="text-transform-none" style="height: 85px">
          <Avatar :fullname="sessionStore.user_name" :image="sessionStore.user_avatar" :size="64" />
        </v-btn>
      </v-col>

      <!-- User Name & Session Start Date Time and Location -->
      <v-col cols="4">
        <v-btn
          class="text-subtitle-1 font-weight-bold text-transform-none"
          @click="handleDisplayUserProfile"
          variant="text"
        >
          {{ sessionStore.user_name }}
        </v-btn>
        <v-row no-gutters class="pl-4">
          <v-col cols="1">
            <!-- <v-icon :icon="getActivityIcon" size="x-large"></v-icon> -->
            <v-icon
              :icon="activitiesStore.getIconFromName(sessionStore.activity_name)"
              size="x-large"
            ></v-icon>
          </v-col>
          <v-col cols="10" class="pl-2">
            <p class="text-subtitle-2">
              {{ DateTimeMap.toDate(sessionStore.start_date) }}
              à
              {{ sessionStore.start_time }}
            </p>
            <p v-if="sessionStore.location" class="text-subtitle-2">{{ sessionStore.location }}</p>
          </v-col>
        </v-row>
      </v-col>

      <!--  -->
      <v-spacer></v-spacer>

      <v-col>
        <v-row no-gutters justify="end">
          <v-col cols="2" class="pa-1" align-self="end">
            <v-btn
              @click="handleViewComments"
              prepend-icon="mdi-message-outline"
              variant="text"
              size="x-small"
              >{{ session.nb_comments }}</v-btn
            >
          </v-col>
          <v-col cols="2" class="pa-1" align-self="end">
            <v-btn
              @click="handleViewLikes"
              prepend-icon="mdi-heart-outline"
              variant="text"
              size="x-small"
              >{{ session.nb_likes }}</v-btn
            >
          </v-col>
          <v-col cols="2" class="pa-1" align-self="center">
            <v-btn
              @click="hancleClickFavorite"
              icon="mdi-star-outline"
              variant="text"
              size="small"
              density="comfortable"
            ></v-btn>
          </v-col>
          <v-col cols="2" class="pa-1" align-self="center">
            <v-btn
              @click="handleShareSession"
              icon="mdi-share-variant-outline"
              variant="text"
              size="small"
              density="comfortable"
            >
            </v-btn>
          </v-col>
          <v-col cols="2" class="pa-1" align-self="center">
            <v-btn
              @click="handleEditSession"
              icon="mdi-pencil-outline"
              variant="text"
              size="small"
              density="comfortable"
            >
            </v-btn>
          </v-col>
          <v-col cols="2" class="pa-1" align-self="center">
            <v-btn icon variant="text" size="small" density="comfortable">
              <v-icon icon="mdi-trash-can-outline"></v-icon>
              <v-dialog v-model="confirmDeleteDialog" activator="parent" width="auto">
                <v-card color="white">
                  <v-progress-linear
                    :active="deleting"
                    color="error"
                    height="12"
                    indeterminate
                  ></v-progress-linear>
                  <v-card-title>Delete the session</v-card-title>
                  <v-card-text
                    >Do you really want to delete this session ? This action cannot be
                    undone.</v-card-text
                  >
                  <v-card-actions>
                    <v-btn variant="flat" large @click="confirmDelete">Delete</v-btn>
                    <v-btn variant="flat" color="primary" large @click="confirmDeleteDialog = false"
                      >Cancel</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-btn>
          </v-col>
          <!-- </v-row> -->
          <!-- <v-row no-gutters justify="end"> -->
        </v-row>
      </v-col>
    </v-row>

    <!--  -->

    <v-row>
      <v-col cols="7">
        <p class="text-h6 text-transform-none pb-2">{{ session.name }}</p>
        <p class="text-body-2">{{ session.description }}</p>
        <v-row v-if="getImagesIds" justify="center" class="pt-4">
          <v-col
            v-for="image_id in getImagesIds"
            :key="image_id"
            cols="3"
            class="d-flex child-flex"
          >
            <v-img :src="imagesStore.getImageURL(image_id)" aspect-ratio="1" cover> </v-img>
          </v-col>
        </v-row>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="2">
        <p class="text-subtitle-2 mt-6">Distance</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DistanceMap.toNiceMetrics(sessionStore.getDistanceFixed).value }}
          {{ DistanceMap.toNiceMetrics(sessionStore.getDistanceFixed).unit }}
        </p>
        <p class="text-subtitle-2 mt-6">Pace</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ sessionSpeed }}
        </p>
        <p class="text-subtitle-2 mt-6">Elevation</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{
            sessionStore.getElevationGainForDisplay
              ? sessionStore.getElevationGainForDisplay + ' m'
              : '--'
          }}
        </p>
      </v-col>

      <v-col cols="2">
        <p class="text-subtitle-2 mt-6">Duration</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{ DurationMap.toNice(session.duration) }}
        </p>
        <p class="text-subtitle-2 mt-6">Burned calories</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">{{ session.burned_calories }} kCal</p>
        <p class="text-subtitle-2 mt-6">Average heart rate</p>
        <p class="text-subtitle-1 font-weight-bold mt-2">
          {{
            sessionStore.getAverageHeartRateForDisplay
              ? sessionStore.getAverageHeartRateForDisplay + ' bpm'
              : '--'
          }}
        </p>
      </v-col>
    </v-row>

    <!--  -->

    <v-row v-if="getMapData">
      <TrackMap :coordinates="sessionStore.getCoordinates" />
    </v-row>
    <v-row v-if="getChartsData">
      <LineChart
        chartLabel="Altitude (m)"
        :labels="sessionStore.getGPSChartsDateTimeForDisplay"
        :dataset="sessionStore.getGPSChartsAltitudeForDisplay"
        chart_color="99, 157, 115"
      />
    </v-row>
    <v-row v-if="getChartsData && sessionStore.getSession.charts_data.heart_rates">
      <LineChart
        chartLabel="Heart Rate (bpm)"
        :labels="sessionStore.getGPSChartsDateTimeForDisplay"
        :dataset="sessionStore.getGPSChartsHeartRateForDisplay"
        chart_color="213, 108, 123"
      />
    </v-row>
    <v-row v-if="getChartsData">
      <LineChart
        chartLabel="Speed (m/s)"
        :labels="sessionStore.getGPSChartsDateTimeForDisplay"
        :dataset="sessionStore.getGPSChartsSpeedForDisplay"
        chart_color="92, 156, 186"
      />
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';

import { apiService } from './../../../services';

import { ImageMap } from './../../../mappers/imageMap';
import { DistanceMap } from './../../../mappers/distanceMap';
import { SpeedMap } from './../../../mappers/speedMap';
import { DurationMap } from './../../../mappers/durationMap';
import { DateTimeMap } from './../../../mappers/dateTimeMap';

import { useActivitiesStore } from './../../../stores/activities';
import { useSessionStore } from './../../../stores/session';
import { useImagesStore } from './../../../stores/images';
import { useDisplayStore } from './../../../stores/display';

import Avatar from '../../Avatar.vue';
import TrackMap from './TrackMap.vue';
import LineChart from './LineChart.vue';

const router = useRouter();

const props = defineProps(['id']);

const displayStore = useDisplayStore();
const sessionStore = useSessionStore();
const activitiesStore = useActivitiesStore();
const imagesStore = useImagesStore();

onBeforeMount(async () => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;

  sessionStore.resetWholeSession();

  try {
    console.debug('[Components/SessionDetails] onBeforeMount - props.id: %s', props.id);
    const rawSession = await apiService.getSessionMetadata(props.id);

    console.debug(
      '[Components/SessionDetails] onBeforeMount - rawSession.images: %s',
      rawSession.images
    );

    if (rawSession.images) {
      const base64Images = await apiService.getSessionImages(rawSession.id);
      for (let index = 0; index < base64Images.length; index++) {
        const base64Image = base64Images[index];
        console.debug('[View/SessionDetails] onBeforeMount - image.id: %s', base64Image.id);
        const isPresent = imagesStore.isPresent(base64Image.id);
        console.debug('[View/SessionDetails] onBeforeMount - isPresent: %s', isPresent);
        if (!isPresent) {
          imagesStore.addImage({
            data: base64Image.data,
            id: base64Image.id,
            mimetype: base64Image.mimetype,
            url: ImageMap.base64ToURL({ data: base64Image.data, mimetype: base64Image.mimetype }),
          });
        }
        sessionStore.addImageId(base64Image.id);
      }
    }

    console.debug('[Components/SessionDetails] onBeforeMount - rawSession: ', rawSession);
    await sessionStore.setMetada(rawSession);

    console.debug('[Components/SessionDetails] session.activity_name: ', session.activity_name);
    if (session.activity_name === 'Running') {
      sessionSpeed.value = SpeedMap.toNiceRunnigMetricPace(sessionStore.getAverageSpeedFixed);
    } else if (session.activity_name === 'Swimming') {
      sessionSpeed.value = SpeedMap.toNiceSwimmingMetricPace(sessionStore.getAverageSpeedFixed);
    } else {
      sessionSpeed.value = SpeedMap.toNiceMetricSpeed(sessionStore.getAverageSpeedFixed);
    }

    if (rawSession.gps_track) {
      const mapData = await apiService.getSessionMapData(rawSession.id);
      sessionStore.$patch({ map_data: mapData });
      console.debug('[Components/SessionDetails] onBeforeMount - mapData: ', mapData);

      const chartsData = await apiService.getSessionChartsData(rawSession.id);
      sessionStore.$patch({ charts_data: chartsData });
      console.debug('[Components/SessionDetails] onBeforeMount - chartsData: ', chartsData);
    }
  } catch (err) {
    console.error('[Components/SessionDetails] onBeforeMount Error: %s', err);
  }
});

const sessionSpeed = ref('');
const confirmDeleteDialog = ref(false);
const deleting = ref(false);

const session = sessionStore.getSession;

const { getImagesIds, getMapData, getChartsData } = storeToRefs(sessionStore);

const handleDisplayUserProfile = () => {
  router.push(`/profile/${sessionStore.user_id}`);
};

const handleShareSession = () => {
  console.debug('Request to share session: ', props.id);
};

const handleEditSession = () => {
  console.debug('Request to edit session: ', props.id);
  router.push(`/session/edit/${props.id}`);
};

const confirmDelete = async () => {
  console.debug('[Views/SessionDetails] confirmDelete - clicked.');

  try {
    deleting.value = true;
    const response = await apiService.deleteSession(sessionStore.getId);
    console.debug(`[Views/SessionDetails] confirmDelete - response: ${JSON.stringify(response)}`);

    confirmDeleteDialog.value = false;

    router.push('/');
  } catch (err) {
    console.error('[Views/SessionDetails] confirmDelete Error: %s', err);
  }
};

const handleViewLikes = () => {
  console.debug('Request to view Likes for session: ', props.id);
};

const handleViewComments = () => {
  console.debug('Request to view Comments for session: ', props.id);
  router.push(`/session/comments/${props.id}`);
};

const hancleClickFavorite = () => {
  console.debug('click to favorite session: ', props.id);
};
</script>
