<template>
  <div id="map" ref="map" class="map"></div>
</template>
<script lang="ts">
import * as L from 'leaflet';

import greenIcon from '../../../assets/images/marker-green-icon.png';
import redIcon from '@/assets/images/marker-red-icon.png';
import shadowIcon from '@/assets/images/marker-shadow.png';

export default {
  props: ['coordinates'],
  mounted: function () {
    const coordinates = this.$props.coordinates;

    const startIcon = {
      clickable: false,
      icon: new L.Icon({
        iconUrl: greenIcon,
        iconSize: [35, 35],
        iconAnchor: [18, 35],
        shadowUrl: shadowIcon,
        shadowSize: [41, 41],
        shadowAnchor: [10, 41],
      }),
    };
    const stopIcon = {
      clickable: false,
      icon: new L.Icon({
        iconUrl: redIcon,
        iconSize: [35, 35],
        iconAnchor: [18, 35],
        shadowUrl: shadowIcon,
        shadowSize: [41, 41],
        shadowAnchor: [10, 41],
      }),
    };

    const map = L.map(this.$refs.map as HTMLElement, {
      zoomControl: true,
      dragging: true,
      scrollWheelZoom: false,
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    const layers = new L.FeatureGroup();

    const startMarker = L.marker([coordinates[0][0], coordinates[0][1]], startIcon);
    layers.addLayer(startMarker);

    const stopMarket = L.marker(
      [coordinates[coordinates.length - 1][0], coordinates[coordinates.length - 1][1]],
      stopIcon
    );
    layers.addLayer(stopMarket);

    let polyline = L.polyline(coordinates, {
      color: 'blue',
      weight: 3,
    });
    layers.addLayer(polyline);

    const layerBounds = layers.getBounds();
    const boundsZoom = map.getBoundsZoom(layerBounds);
    map.fitBounds(layerBounds, { maxZoom: boundsZoom - 1 });

    layers.addTo(map);
  },
};
</script>

<style scoped>
.map {
  width: 100%;
  height: 336px;
}
</style>
