<template>
  <v-sheet width="100%" min-height="568px" class="pa-8">
    <v-form id="user_profile" class="form" lazy-validation>
      <Avatar :fullname="profile.name" :image="profile.avatarURL" :size="avatarSize" />
      <v-btn
        v-if="!show_avatar_picker"
        @click="openAvatarPicker"
        icon="mdi-pencil-outline"
        size="small"
        density="comfortable"
        style="margin-top: 120px; margin-left: -36px"
      ></v-btn>
      <v-file-input
        v-if="show_avatar_picker"
        label="Choose a new avatar photo"
        prepend-icon="mdi-camera"
        @change="imageLoaded"
        style="margin-top: -110px; margin-left: 164px; margin-bottom: 48px"
      ></v-file-input>
      <v-text-field v-model="profile.name" label="Name" required class="mt-4"></v-text-field>
      <v-text-field v-model="profile.email" label="Email" required disabled></v-text-field>
      <v-select
        v-model="profile.gender"
        :items="gender_items"
        item-title="title"
        item-value="value"
        label="Gender"
        required
      ></v-select>
      <v-text-field
        v-model="profile.birthyear"
        label="Birthyear"
        type="number"
        min="1900"
        max="new Date().getFullYear()"
        required
        :error="birthyearError"
        :error-messages="errorMessage"
      ></v-text-field>
      <v-text-field v-model="profile.location" label="Location"></v-text-field>
      <v-text-field
        v-model="profile.height"
        label="Height"
        type="number"
        step="0.1"
        required
      ></v-text-field>
      <v-text-field
        v-model="profile.weight"
        label="Weight"
        type="number"
        step="0.1"
        required
      ></v-text-field>
      <v-textarea v-model="profile.biography" label="Bio" auto-grow></v-textarea>
      <v-row align="center" justify="space-around">
        <v-btn @click="handleCancel" color="error" large>Cancel</v-btn>
        <v-btn @click="handleSaveProfile" color="primary" large>Save Profile</v-btn>
      </v-row>
    </v-form>
  </v-sheet>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

import Avatar from './../../Avatar.vue';
import { apiService } from './../../../services';
import { useUserProfileStore } from './../../../stores/user.profile';
import { useRouter } from 'vue-router';

const userProfileStore = useUserProfileStore();
const router = useRouter();

const imageURL = ref('');
const avatarSize = ref(156);

let show_avatar_picker = ref(false);

const birthyearError = ref(false);
const errorMessage = ref('');

const profile = computed(() => {
  return userProfileStore.$state;
});
const gender_items = [
  { title: 'Male', value: 'male' },
  { title: 'Female', value: 'female' },
];

const handleSaveProfile = async (e) => {
  // https://stackoverflow.com/questions/61522494/react-axios-error-request-aborted-for-delete-request-in-firefox-but-not-in-chro
  e.preventDefault();

  try {
    await apiService.updateProfile(userProfileStore.getProfileDTO);

    router.push('/profile');
  } catch (err) {
    console.debug('[Views/EditUserProfile] Error: ', err);
    if (
      err ===
      `birthyear is not within range ${new Date().getFullYear() - 100} to ${
        new Date().getFullYear() - 18
      }.`
    ) {
      birthyearError.value = true;
      errorMessage.value = `Birthyear must be within range ${new Date().getFullYear() - 100} to ${
        new Date().getFullYear() - 18
      }.`;
    }
  }
};

// eslint-disable-next-line @typescript-eslint/no-empty-function
const handleCancel = () => {
  router.push('/profile');
};

const openAvatarPicker = () => {
  show_avatar_picker.value = true;
};

const imageLoaded = (e) => {
  const imageFile = e.target.files[0];
  imageURL.value = URL.createObjectURL(imageFile);

  // let image: string;
  const reader = new FileReader();
  reader.onload = () => {
    // image = reader.result as string;

    if (reader.result) {
      const result = reader.result as string;
      userProfileStore.$patch({
        avatarURL: imageURL.value,
        avatarDTO: {
          mimetype: imageFile.type,
          // https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
          // https://stackoverflow.com/questions/24289182/how-to-strip-type-from-javascript-filereader-base64-string
          data: result.split(',')[1],
        },
      });
    }
  };
  reader.readAsDataURL(imageFile);
};
</script>
