<template>
  <v-sheet rounded class="pa-4">
    <v-row no-gutters>
      <v-col>
        <v-btn
          @click="router.back()"
          prepend-icon="mdi-arrow-left"
          variant="text"
          density="comfortable"
        ></v-btn>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="2">
        <Avatar
          :fullname="profile.name"
          :image="profile.avatarURL"
          :size="mdAndUp ? avatarSize : 64"
        />
      </v-col>
      <v-col>
        <p class="text-h6 font-weight-bold text-start">{{ profile.name }}</p>
        <p class="mt-12 text-subtitle-1 text-start">{{ profile.email }}</p>
      </v-col>
      <v-col cols="6" align-self="end">
        <v-row no-gutters justify="end">
          <v-btn @click="handleEdituserProfile" icon="mdi-pencil-outline" variant="tonal"> </v-btn>
        </v-row>
        <p class="text-subtitle-1 text-right">Born in {{ profile.birthyear }}</p>
        <p class="text-subtitle-1 text-right">Located in {{ profile.location }}</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <p class="text-subtitle-2 text-justify">
          {{ profile.biography }}
        </p>
      </v-col>
    </v-row>
    <v-divider class="mt-4 mb-4"></v-divider>

    <!--  -->
    <v-row class="mt-4">
      <v-col cols="1">
        <v-icon icon="mdi-ninja" size="64"></v-icon>
      </v-col>
      <v-col cols="4">
        <p class="text-subtitle-1 text-right">Number of sessions</p>
        <p class="text-h6 font-weight-bold text-right">12</p>
        <v-divider></v-divider>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-icon icon="mdi-fire" size="64"></v-icon>
      </v-col>
      <v-col cols="4">
        <p class="text-subtitle-1 text-right">Total burned calories</p>
        <p class="text-h6 font-weight-bold text-right">2510 kCal</p>
        <v-divider></v-divider>
      </v-col>
    </v-row>

    <!--  -->
    <v-row class="mt-4">
      <v-col cols="1">
        <v-icon icon="mdi-road" size="64"></v-icon>
      </v-col>
      <v-col cols="4">
        <p class="text-subtitle-1 text-right">Total distance</p>
        <p class="text-h6 font-weight-bold text-right">53 km</p>
        <v-divider></v-divider>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-icon icon="mdi-clock" size="64"></v-icon>
      </v-col>
      <v-col cols="4">
        <p class="text-subtitle-1 text-right">Total duration</p>
        <p class="text-h6 font-weight-bold text-right">15:43:12</p>
        <v-divider></v-divider>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

import { useUserProfileStore } from './../../../stores/user.profile';

import Avatar from './../../Avatar.vue';

const router = useRouter();
const { mdAndUp } = useDisplay();

const userProfileStore = useUserProfileStore();

const avatarSize = ref(96);

const profile = computed(() => {
  return userProfileStore.$state;
});

const handleEdituserProfile = () => {
  console.debug('[UserProfile] handleEdituserProfile');
  router.push('/profile/edit');
};
</script>
