<!-- eslint-disable vue/no-v-text-v-html-on-component -->
<template>
  <v-app-bar density="comfortable" scroll-behavior="elevate" class="bg-white">
    <v-app-bar-title>
      <a href="/">
        <v-avatar image="../assets/favicon.ico"></v-avatar>
        Run, Bike, Hike…
      </a>
    </v-app-bar-title>

    <template v-slot:append>
      <v-btn icon :disabled="!isAuthenticated" to="search_users">
        <v-icon>mdi-account-search</v-icon>
      </v-btn>

      <v-btn icon :disabled="!isAuthenticated">
        <v-icon>mdi-bell-outline</v-icon>
      </v-btn>

      <v-menu location="bottom">
        <template v-slot:activator="{ props }">
          <v-btn icon v-bind="props" :disabled="!isAuthenticated">
            <v-icon>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list nav :items="addItemsMenu"> </v-list>
        </v-card>
      </v-menu>

      <v-menu location="bottom">
        <template v-slot:activator="{ props }">
          <v-btn icon v-bind="props" :disabled="!isAuthenticated">
            <v-icon>mdi-account-circle-outline</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list nav>
            <v-list-item
              :prepend-avatar="profile.avatarURL"
              :title="profile.name"
              :subtitle="profile.email"
              to="/profile"
            >
            </v-list-item>
          </v-list>

          <v-divider v-if="userProfileStore.isAdmin"></v-divider>
          <v-list nav v-if="userProfileStore.isAdmin">
            <v-list-item
              title="ADMIN"
              prepend-icon="mdi-shield-crown-outline"
              to="/admin"
              base-color="red"
            ></v-list-item>
          </v-list>

          <v-divider></v-divider>
          <v-list nav>
            <v-list-item
              v-for="(item, i) in profileItemsMenu"
              :key="i"
              :value="item"
              :to="item.props.to"
            >
              <template v-slot:prepend>
                <v-icon :icon="item.icon"></v-icon>
              </template>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </template>
  </v-app-bar>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

import { useAuthUserStore } from '../stores/auth.user';
import { onBeforeMount } from 'vue';
import { useUserProfileStore } from '../stores/user.profile';

const authUserStore = useAuthUserStore();
const isAuthenticated = ref(false);
const userProfileStore = useUserProfileStore();

const profile = computed(() => {
  return userProfileStore.$state;
});

const addItemsMenu = [
  { title: 'Add a session', props: { to: '/add_session' } },
  { title: 'Add an objective', props: { to: '/add_objective' } },
  { title: 'Add a challenge', props: { to: '/add_challenge' } },
];

const profileItemsMenu = [
  { text: 'Settings', icon: 'mdi-cog', props: { to: '/settings' } },
  {
    text: 'About',
    icon: 'mdi-help-circle-outline',
    props: { to: '/about' },
  },
  { text: 'Sign out', icon: 'mdi-logout', props: { to: '/sign_out' } },
];

authUserStore.$subscribe((mutation, state) => {
  console.debug('App/mutation: ', mutation);
  console.debug('App/state: ', state);
  isAuthenticated.value = authUserStore.isAuthenticated;
});

onBeforeMount(() => {
  isAuthenticated.value = authUserStore.isAuthenticated;
});
</script>
