<template>
  <v-avatar v-if="hasImage" :image="props.image" :size="props.size"></v-avatar>
  <v-avatar
    v-if="!hasImage"
    :size="props.size"
    :color="toColor(props.fullname)"
    :style="style"
    class="primary"
    >{{ initials }}</v-avatar
  >
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
  fullname: { type: String, required: true },
  size: { type: Number, default: 48 },
  image: { type: String, default: '' },
  color: { type: String, default: '' },
});

const hasImage = computed(() => {
  return props.image !== '';
});

const initials = computed(() => {
  const words = props.fullname.split(/[\s-]+/);
  return words
    .map((word) => word.substring(0, 1))
    .join('')
    .substring(0, 3)
    .toUpperCase();
});

const style = computed(() => {
  const fontSize = initials.value.length > 1 ? props.size / 2 : 2;
  return {
    'font-size': `${fontSize}px`,
    'font-family': 'Montserrat SemiBold',
  };
});

const toColor = (str: string) => {
  let hash = 0;
  if (!str) {
    return 'back';
  }
  for (const char of str.split('')) {
    hash = (hash << (8 - hash)) + char.charCodeAt(0);
  }
  return `#${Math.abs(hash).toString(16).substring(0, 6)}`;
};
</script>
