<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <v-row align-self="center" no-gutters>
      <!-- User Avatar -->
      <v-col cols="1" align="center">
        <Avatar :fullname="props.comment.user_name" :image="props.comment.user_avatar" :size="24" />
      </v-col>

      <!-- User Name -->
      <v-col cols="4">
        <div
          class="text-subtitle-1 font-weight-bold text-transform-none"
          v-html="props.comment.user_name"
        ></div>
      </v-col>
      <v-spacer></v-spacer>
      <v-col>
        <p class="text-subtitle-2 text-end">
          {{ DateTimeMap.toNiceDateTime(props.comment.date_time) }}
        </p>
      </v-col>
    </v-row>

    <v-row align-self="center" no-gutters>
      <v-col cols="1"></v-col>

      <!-- Comment -->
      <v-col>
        <div class="text-body-2" v-html="props.comment.text"></div>
      </v-col>

      <!-- Delete button -->
      <v-col cols="1">
        <v-row justify="end">
          <v-btn
            icon
            variant="tonal"
            density="comfortable"
            class="mt-2 mr-2"
            :disabled="!props.isUserTheWriter"
          >
            <v-icon icon="mdi-trash-can-outline" size="small"></v-icon>
            <v-dialog v-model="confirmDeleteDialog" activator="parent" width="auto">
              <v-card color="white">
                <v-progress-linear
                  :active="deleting"
                  color="error"
                  height="12"
                  indeterminate
                ></v-progress-linear>
                <v-card-title>Delete the comment</v-card-title>
                <v-card-text
                  >Do you really want to delete this comment ? This action cannot be
                  undone.</v-card-text
                >
                <v-card-actions>
                  <v-btn variant="flat" color="error" large @click="confirmDelete">Delete</v-btn>
                  <v-btn variant="flat" color="primary" large @click="confirmDeleteDialog = false"
                    >Cancel</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import { DateTimeMap } from '../mappers/dateTimeMap';

import Avatar from './Avatar.vue';

const props = defineProps<{
  comment: { id: string; text: string; date_time: string; user_name: string; user_avatar: string };
  isUserTheWriter: boolean;
}>();

const confirmDeleteDialog = ref(false);
const deleting = ref(false);

const emit = defineEmits<{ (e: 'delete', id: string): void }>();

const confirmDelete = () => {
  console.debug('[Components/Comment] confirmDelete - clicked.');

  try {
    deleting.value = true;
    emit('delete', props.comment.id);
    confirmDeleteDialog.value = false;
  } catch (err) {
    console.error('[Components/Comment] confirmDelete Error: %s', err);
  }
};
</script>
