<!-- eslint-disable vue/no-mutating-props -->
<template>
  <v-dialog v-model="props.show" :scrim="true" persistent width="auto">
    <v-card>
      <v-card-text>
        {{ props.text }}
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
const props = defineProps({
  show: { type: Boolean, default: true, required: true },
  text: { type: String, default: '', required: true },
});
</script>
