<!-- eslint-disable vue/valid-v-slot -->
<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <v-text-field
      v-model="searchTerms"
      class="ma-2"
      density="compact"
      placeholder="Search users... (min. 3 letters)"
      hide-details
      clearable
      single-line
      prepend-inner-icon="mdi-magnify"
      variant="outlined"
    ></v-text-field>

    <v-data-table-server
      v-model:items-per-page="itemsPerPage"
      :headers="headers"
      :items="serverItems"
      :items-length="totalItems"
      :loading="loading"
      :search="searchTerms"
      item-value="name"
      @update:options="loadSearchResults"
    >
      <!--  -->
      <template v-slot:item.avatar="{ item }">
        <Avatar :fullname="item.name" :image="ImageMap.base64ToURL(item.avatar)" :size="36" />
      </template>

      <!--  -->
      <template v-slot:item.actions>
        <div class="text-end">
          <v-btn color="primary">Connect</v-btn>
        </div>
      </template>
    </v-data-table-server>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';

import { apiService } from '../../../services';

import { useDisplayStore } from './../../../stores/display';

import { ImageMap } from './../../../mappers/imageMap';

import Avatar from './../../Avatar.vue';

const displayStore = useDisplayStore();

const itemsPerPage = ref(25);
const serverItems = ref([]);
const loading = ref(false);
const totalItems = ref(0);
const searchTerms = ref('');

const headers = [
  {
    key: 'avatar',
    sortable: false,
    title: '',
  },
  {
    key: 'name',
    sortable: true,
    title: 'Name',
  },
  {
    key: 'location',
    sortable: false,
    title: 'Location',
  },
  {
    align: 'center',
    key: 'actions',
    sortable: false,
    title: '',
  },
];

onBeforeMount(async () => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;
});

const loadSearchResults = async () => {
  // console.debug('[Component/SearchUsers] searchTerms - searchTerms: ', searchTerms.value);
  if (searchTerms.value.length >= 3) {
    loading.value = true;
    const { users } = await apiService.searchUsers(searchTerms.value);
    // console.debug('[Component/SearchUsers] loadSearchResults - users: ', users);
    serverItems.value = users;
    totalItems.value = users.length;
    loading.value = false;
  }
};
</script>
