<template>
  <v-app>
    <AppBar />

    <v-main class="bg-grey-lighten-3">
      <v-container fluid="true">
        <v-row justify="center">
          <v-col cols="3" v-if="displaySides && mdAndUp">
            <v-row class="pa-4">
              <LeftTop />
            </v-row>
            <v-row class="pa-4">
              <LeftBottom />
            </v-row>
          </v-col>
          <v-col :cols="!displaySides ? 12 : mdAndUp ? 6 : 12">
            <!-- <v-col :cols="mdAndUp || !displaySides ? 6 : 12"> -->
            <v-row class="pa-4" justify="center">
              <RouterView />
            </v-row>
          </v-col>

          <v-col cols="3" v-if="displaySides && mdAndUp">
            <v-row class="pa-4">
              <RightTop />
            </v-row>
            <v-row class="pa-4">
              <RightBottom />
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';
import { useDisplay } from 'vuetify';

import AppBar from './components/AppBar.vue';
import LeftTop from './components/LeftTop.vue';
import LeftBottom from './components/LeftBottom.vue';
import RightTop from './components/RightTop.vue';
import RightBottom from './components/RightBottom.vue';

import { ref } from 'vue';

import { useDisplayStore } from './stores/display';

const { mdAndUp } = useDisplay();

const displayStore = useDisplayStore();
const displaySides = ref(true);
console.debug('App/displaySides: ', displaySides.value);

displayStore.$subscribe((mutation, state) => {
  console.debug('App/mutation: ', mutation);
  console.debug('App/state: ', state);
  displaySides.value = displayStore.displaySides;
  console.debug('App/displaySides: ', displaySides.value);
});
</script>
