<template>
  <v-sheet rounded="lg" width="100%" min-height="568px" class="pa-4">
    <v-row justify="center">
      <v-col cols="6" class="text-center">
        <img
          class="logo text-center"
          src="../../assets/images/favicon/favicon-96x96.png"
          alt="Run, Bike, Hike..."
          max-height="96"
          max-width="96"
        />
        <p class="text-h6 font-weight-bold">Run, Bike, Hike...</p>
        <p>v{{ version }}</p>
        <p>by {{ author.name }} under {{ license }}</p>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="3" class="text-center">
        <v-btn icon="mdi-gitlab" size="large" variant="text"></v-btn>
        <v-btn icon="mdi-mastodon" size="large" variant="text"></v-btn>
        <v-btn icon="mdi-email-outline" size="large" variant="text"></v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="text-justify"
        ><p>
          Run, Bike, Hike... is an application for sharing sport sessions among the
          <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">Fediverse</a>. It is
          using the
          <a href="https://en.wikipedia.org/wiki/ActivityPub" target="_blank">ActivityPub</a>
          protocol to allow several instances to be connected together, and users to share their
          sport session accross the
          <a href="https://fediverse.observer/" target="_blank">whole Fediverse</a>.
        </p></v-col
      >
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue';

import {
  // name,
  version,
  author,
  // homepage,
  // contributors,
  // dependencies,
  // devDependencies,
  license,
} from './../../../../package.json';

import { useDisplayStore } from '../../stores/display';

const displayStore = useDisplayStore();

onBeforeMount(async () => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;
});
</script>
