<!-- eslint-disable vue/valid-v-for -->
<!-- eslint-disable vue/valid-v-slot -->
<template>
  <v-sheet width="100%" max-width="960px" rounded class="pa-4">
    <div>Admin - Users' list</div>
    <!--     <v-table fixed-header>
      <thead>
        <tr>
          <th></th>
          <th class="font-weight-black text-left">Name</th>
          <th class="font-weight-black text-left">Email</th>
          <th class="font-weight-black text-left">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in adminUsersListStore.getAll" :key="user.id">
          <td>
            <Avatar :fullname="user.name" :image="ImageMap.base64ToURL(user.avatar)" :size="36" />
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.is_disabled }}</td>
        </tr>
      </tbody>
    </v-table> -->
    <v-text-field
      v-model="search"
      label="Search"
      prepend-inner-icon="mdi-magnify"
      variant="outlined"
      hide-details
      single-line
      clearable
    ></v-text-field>

    <!--  -->
    <v-data-table :headers="headers" :items="adminUsersListStore.getAll" :search="search">
      <!--  -->
      <template v-slot:top>
        <v-dialog v-model="dialogEnable" max-width="500px">
          <v-card>
            <v-card-title>
              <v-row>
                <v-col cols="2">
                  <Avatar
                    :fullname="selectedItem.name"
                    :image="ImageMap.base64ToURL(selectedItem.avatar)"
                    :size="36"
                  />
                </v-col>

                <v-col>
                  {{ selectedItem.name }}
                </v-col>
              </v-row>
            </v-card-title>
            <v-card-text>Are you sure you want to enable this account?</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn variant="flat" large @click="enableCancel">NO</v-btn>
              <v-btn color="primary" variant="flat" large @click="enableConfirm">YES</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--  -->
        <v-dialog v-model="dialogDisable" max-width="500px">
          <v-card>
            <v-card-title>
              <v-row>
                <v-col cols="2">
                  <Avatar
                    :fullname="selectedItem.name"
                    :image="ImageMap.base64ToURL(selectedItem.avatar)"
                    :size="36"
                  />
                </v-col>

                <v-col>
                  {{ selectedItem.name }}
                </v-col>
              </v-row>
            </v-card-title>
            <v-card-text>Are you sure you want to disable this account?</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn variant="flat" large @click="disableCancel">NO</v-btn>
              <v-btn color="primary" variant="flat" large @click="disableConfirm">YES</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>

      <!--  -->
      <template v-slot:item.avatar="{ item }">
        <Avatar :fullname="item.name" :image="ImageMap.base64ToURL(item.avatar)" :size="36" />
      </template>

      <!--  -->
      <template v-slot:item.is_disabled="{ item }">
        <div class="text-center">
          <v-icon
            size="x-large"
            :icon="
              item.is_disabled ? 'mdi-account-cancel-outline' : 'mdi mdi-account-check-outline'
            "
            :color="item.is_disabled ? 'error' : 'primary'"
          ></v-icon>
        </div>
      </template>

      <!--  -->
      <template v-slot:item.actions="{ item }">
        <div class="text-end">
          <v-btn
            :icon="
              item.is_disabled ? 'mdi-account-check-outline' : 'mdi mdi-account-cancel-outline'
            "
            class="me-2"
            size="small"
            @click="item.is_disabled ? enableItem(item) : disableItem(item)"
            variant="text"
          ></v-btn>
          <v-btn
            size="small"
            @click="deleteItem(item)"
            icon="mdi-delete"
            variant="text"
            disabled
          ></v-btn>
        </div>
      </template>
    </v-data-table>
  </v-sheet>
</template>

<script setup lang="ts">
import { onBeforeMount, nextTick } from 'vue';

import { apiService } from '../../services';

import { useDisplayStore } from '../../stores/display';
import { useAdminUsersListStore } from './../../stores/admin.users.list';

import { ImageMap } from '../../mappers/imageMap';

import Avatar from './../Avatar.vue';
import { ref } from 'vue';

const displayStore = useDisplayStore();
const adminUsersListStore = useAdminUsersListStore();

const dialogEnable = ref(false);
const dialogDisable = ref(false);
const selectedItem = ref({
  avatar: { mimetype: '', data: '' },
  email: '',
  id: '',
  is_admin: false,
  is_disabled: false,
  name: '',
});
const search = ref('');
const headers = [
  {
    key: 'avatar',
    sortable: false,
    title: '',
  },
  {
    key: 'name',
    sortable: true,
    title: 'Name',
  },
  {
    key: 'email',
    sortable: true,
    title: 'Email',
  },
  {
    align: 'center',
    key: 'is_disabled',
    sortable: true,
    title: 'User status',
  },
  {
    align: 'center',
    key: 'actions',
    sortable: false,
    title: 'Actions',
  },
];

onBeforeMount(async () => {
  displayStore.displayLeft = false;
  displayStore.displayRight = false;
  //
  // TODO: Check if user IS_ADMIN to block any geek !

  const adminUsersList = await apiService.getAdminUsersList();
  console.debug('[Component/Admin] onBeforeMount - adminUsersList: ', adminUsersList);

  adminUsersListStore.$patch({ adminUsersList });
});

const enableItem = (item) => {
  // console.debug('[Component/Admin] enableItem - item: ', item);
  selectedItem.value = item;
  dialogEnable.value = true;
};

const enableConfirm = async () => {
  // console.debug('[Component/Admin] enableConfirm');
  try {
    /* const response = */ await apiService.enableUser(selectedItem.value.id);
    // console.debug(`[Views/SessionDetails] enableConfirm - response: ${JSON.stringify(response)}`);
    selectedItem.value.is_disabled = false;
    adminUsersListStore.updateUser(selectedItem.value);

    dialogEnable.value = false;
    nextTick();
  } catch (err) {
    console.error('[Views/SessionDetails] enableConfirm Error: %s', err);
  }
};

const enableCancel = () => {
  // console.debug('[Component/Admin] enableCancel');
  dialogEnable.value = false;
};

const disableItem = (item) => {
  // console.debug('[Component/Admin] disableItem - item: ', item);
  selectedItem.value = item;
  dialogDisable.value = true;
};

const disableConfirm = async () => {
  // console.debug('[Component/Admin] disableConfirm');
  try {
    /* const response = */ await apiService.disableUser(selectedItem.value.id);
    // console.debug(`[Views/SessionDetails] disableConfirm - response: ${JSON.stringify(response)}`);
    selectedItem.value.is_disabled = true;
    adminUsersListStore.updateUser(selectedItem.value);

    dialogDisable.value = false;
    nextTick();
  } catch (err) {
    console.error('[Views/SessionDetails] disableConfirm Error: %s', err);
  }
};

const disableCancel = () => {
  // console.debug('[Component/Admin] disableCancel');
  dialogDisable.value = false;
};

const deleteItem = (item) => {
  console.debug('[Component/Admin] deleteItem - item: ', item);
};
</script>
